<% cache article do %>
  <h2><%= link_to_permalink article,article.title %></h2>
  <% if article.password.blank? %>
    <%= render 'articles/article_excerpt', { article: article } %>
  <% else %>
    <%= render 'articles/password_form', { article: article } %>
  <% end %>
  <%= render 'articles/article_author', { article: article } %>
<% end %>
