header {
  background-color: black;
}

#logo {
  min-height: 80px;
  background-image: url("../../images/theme/header-back.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  padding-top: 0.7em;
  h1 {
    font-size: 40px;
    font-family: serif;
    margin: 0 0 0.3em 0.7em;
    font-weight: bold;
  }
  a {
    color: #fff;
    text-shadow: 0 0 5px #fff;
  }
  p.desc {
    margin: 0 0 0 1em;
    font-weight: bold;
    opacity: 0.9;
    font-size: 10pt;
    font-family: sans-serif;
    color: white;
  }
}

nav.navbar.navbar-inverse .navbar-inner {
  background: linear-gradient(120deg, #3f3f39, #030000);
  
  ul > li {
    list-style-type: none;
    display: inline-block;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.8);
    border-style: none none none groove;
    margin: 7px 0;
    > a {
      color: rgba(255, 255, 255, 0.75);
      background-color: rgba(255, 255, 255, 0);
      padding: 3px 14px;
      &:hover {
        color: rgba(255, 255, 255, 1);
        background-color: rgba(255, 255, 255, 0.2);
        transition-property: color;
        transition-duration: 0.5s;
      }
    }
  }
}

.navbar .nav > li {
  font-family: 'JacquesFrancois_Regular';
  border-left: 1px solid #111111;
  border-right: 1px solid #444444;
  > a {
    color: #eee;
    padding: 8px 10px;
  }
}

.navbar-inner {
  border-radius: 0;
}

#external {
  flex-direction: row;
  align-items: stretch;
  width: calc(100% - 8em);
  margin: 0 auto;
  background-color: #fff;
  border: solid 1px #030000;
  &:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
  }
}

@media screen and (max-width: 720px) {
  #external {
    width: calc(100% - 1.5em);
  }
  .articles {
    width: 98%;
  }
  #sidebar {
    width: 98%;
  }
}

@media screen and (min-width: 1000px) {
  #main {
    display: flex;
  }
  
  .articles {
    flex: 2;
  }
  
  #sidebar {
    flex: 1;
  }
}

#main {
  margin: 0 1em;
}

footer {
  &:before {
    content: "";
    display: block;
    width: 100%;
    clear: both;
  }
  margin: 0;
  margin-top: 1em;
  padding: 0.5em 0;
  width: 100%;
  color: white;
  background-color: black;
  background: linear-gradient(#494949, #030000);
  border: none 1px #000;
  border-top-style: solid;
  clear: both;
  #creator {
    margin: 0 0.5em;
  }
  p {
    margin: 0 1em;
    padding: 0;
    text-shadow: 0 0 1px white;
    font-family: 'JacquesFrancois_Regular',serif;
    a {
      text-shadow: 0 0 1px blue;
    }
  }
}

