@mixin before-clearfix {
  &:before {
    content: "";
    display: block;
    width: 100%;
    clear: both;
  }
}

@mixin after-clearfix {
  &:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
  }
}
